@import url('./nullstyles.scss');
@import url('./fonts.scss');


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    font-family: 'Noto Sans', sans-serif; 
    background-color: #252525;
    
}